@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    html,
    body {
        @apply h-full p-0 m-0;
    }

    body {
        @apply bg-anti-flash-white dark:bg-chinese-black;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        @apply transition-[background-color] duration-[5000s] ease-[ease-in-out] delay-[0s];
    }

    input::-ms-reveal,
    input::-ms-clear {
        @apply hidden;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button {
        @apply appearance-none;
    }
}

@layer components {
    .headline-1 {
        @apply font-roboto font-light text-8xl tracking-[-1.5px];
    }

    .headline-2 {
        @apply font-roboto font-light text-6xl tracking-[-0.5px];
    }

    .headline-3 {
        @apply font-roboto font-normal text-5xl tracking-normal;
    }

    .headline-4 {
        @apply font-roboto font-normal text-[34px] leading-[38px] tracking-[0.25px];
    }

    .headline-5 {
        @apply font-roboto font-normal text-2xl tracking-normal;
    }

    .headline-6 {
        @apply font-roboto font-medium text-xl tracking-[0.15px];
    }

    .subtitle-1 {
        @apply font-roboto font-normal text-base tracking-[0.15px];
    }

    .subtitle-2 {
        @apply font-roboto font-medium text-sm tracking-[0.1px];
    }

    .body-1 {
        @apply font-roboto font-normal text-base tracking-[0.5px];
    }

    .body-2 {
        @apply font-roboto font-normal text-sm tracking-[0.25px];
    }

    .button {
        @apply font-roboto font-medium text-sm uppercase tracking-[1.25px];
    }

    .caption {
        @apply font-roboto font-normal text-xs tracking-[0.4px];
    }

    .overline {
        @apply font-roboto font-normal text-[10px] leading-3 uppercase tracking-[1.5px];
    }
}
